<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="sse-mercure-outboundadapter.ZPM">
    <Module>
      <Name>sse-mercure-outboundadapter</Name>
      <Version>1.0.0</Version>
      <Description>Send server-sent events using mercure.rocks</Description>
      <Keywords>SSE, server-sent events, mercure</Keywords>
        <SystemRequirements Interoperability="enabled" />
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="Mercure.Mercure.CLS"/>
      <Resource Name="Mercure.OutboundAdapter.CLS"/>
    </Module>
  </Document>
</Export>